<h4>Empleados:</h4><br>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevo">
    Nuevo empleado
</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of empleados">
            <th [ngStyle]="{'color': (e.Id % 2)==0 ? 'green' : 'red'}">{{e.Id}}</th>
            <td>{{e.nombre}}</td>
            <td>{{e.edad}}</td>
            <td>{{e.ciudad}}</td>
            <td>
                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editar" (click)="modaleditar(e.Id)">Editar</a>
                <a> | </a>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar" (click)="seguro(e.Id)">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- Entidad 2-->
<h4>Ciudades:</h4><br>
<div class="row">
    <div class="col-6">
        <form [formGroup]="formCiudad">
            <label for="nombre" class="form-label">Nombre ciudad:</label>
            <input type="text" class="form-control" name="nombre" formControlName="nombre">
            <button (click)="newCiudad()" class="btn btn-success" [disabled]="formCiudad.invalid">Ingresar</button>
        </form>
    </div>
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of ciudades">
                    <th [ngStyle]="{'color': (c.Id % 2)==0 ? 'green' : 'red'}">{{c.Id}}</th>
                    <td>{{c.nombre}}</td>
                    <td>
                        <a class="btn btn-danger" (click)="eliminarCiudad(c.Id)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Nuevo empleado -->
<div class="modal fade" id="nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="edad" class="form-label">edad</label>
                        <input type="number" class="form-control" name="edad" formControlName="edad" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">ciudad</label>
                        <input type="text" class="form-control" name="ciudad" formControlName="ciudad" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="ingresar()" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Editar empleado -->

<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formEdit">
                    <div class="mb-3" hidden>
                        <label for="id" class="form-label">Id</label>
                        <input value="" type="number" class="form-control" name="id" formControlName="id">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" formControlName="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="edad" class="form-label">edad</label>
                        <input type="number" class="form-control" name="edad" formControlName="edad" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">ciudad</label>
                        <input type="text" class="form-control" name="ciudad" formControlName="ciudad" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="editar()" data-bs-dismiss="modal">Editar</button>
            </div>
        </div>
    </div>
</div>


<!-- Alerta eliminar -->
<div class="modal" id="eliminar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alerta</h5>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar el registro {{idat}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminar()">Si</button>
            </div>
        </div>
    </div>
</div>